.caps {
  text-transform: uppercase;
}

.box {
  padding: 10px;
}

.box-big-spacing {
  padding: 35px;
}

.box-bg-business {
  background: #139188;
  color: white;

  h2, h3 {
    color: white;
  }
}

.box-bg-medicine {
  background: #e6769d;
  color: white;

  h2, h3 {
    color: white;
  }
}

.box-bg-industry {
  background: #db3507;
  color: white;

  h2, h3 {
    color: white;
  }
}
