@media only screen and (min-width: 40.063em) {
  h1,h2,h3 {
    text-align: center;
  }

  .box-tall-medium-up {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.juicer-feed h1 a {
  font-size: 12px;
  color: #e6769d !important;;
}
.caps {
  text-transform: uppercase;
}

.box {
  padding: 10px;
}

.box-big-spacing {
  padding: 35px;
}

@mixin box-white-text {
  color: white;

  h2, h3, a, a:hover {
    color: white;
  }
}

.box-bg-business {
  background: #139188;
  @include box-white-text;
}

.box-bg-medicine {
  background: #e6769d;
  @include box-white-text;
}

.box-bg-industry {
  background: #db3507;
  @include box-white-text;
}
