// Overrides to original juicer CSS which is included in index.html from juicer.io

.juicer-feed {
  font-family: $font-family-sans-serif !important;
  color: $business !important;

  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;

  h3 {
      font-family: $font-family-sans-serif !important;
  }

  h1 a {
    font-size: 12px;
    color: #e6769d !important;
    opacity: 0.3;
  }

  .j-meta a {
    color: $business !important;
  }

  .feed-item {
    color: $business !important;
    border-width: 0 !important;
  }

  .j-paginate {
    font-family: $button-font-family !important;
    background-color: $button-bg-color !important;
    border: 0 !important;
    text-transform: inherit !important;
    color: white !important;
    padding: $button-med !important;
    font-size: $button-font-med !important;
  }
}
