@media only screen and (min-width: 40.063em) {
  h1,h2,h3 {
    text-align: center;
  }
}

.primerprint {
  font-family: 'primerprint_bold';
}

.caps {
  text-transform: uppercase;
}

p.without-margin {
  margin: 0;
}

p.primer {
    font-family: 'primerprint_bold';
    font-size: 1.20rem;
}

p.low-height {
    font-size: 0.95rem;
    line-height: 1.4;
}

p.company-description {
    padding-top: 20px;
    margin-bottom: 0;
}

a.no-decoration {
	text-decoration: none !important
}

p.hashtags {
  font-style: italic;
  margin-top: 20px;
}
